body {
  font-family: "Poppins", sans-serif;
  font-size: 14.5px;
  background-color: #fef2ff;
}
.heading,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6,
.heading-7 {
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

/*nav bar design*/
.navbar {
  background-color: #fffdfd;
  position: static;
  box-shadow: 0 6px 11px rgba(204, 140, 235, 0.27);
  overflow: hidden;
  border-radius: 14px;
}
.navbar a {
  float: left;
  color: #3b144e;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}
.navbar a:hover {
  color: #582074;
  font-family: "Libre Baskerville", serif;
  font-weight: 600;
}
.nav-link {
  color: #3b144e;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400px;
  display: flex;
  text-decoration: none;
  padding: 14px 16px;
  width: 30%;
}
.nav-link:hover {
  color: #cc8ceb;
  background-color: #fff;
  border: 1px solid #cc8ceb;
  border-radius: 14px;
}
.nav-menu {
  justify-content: center;
  align-items: center;
  display: flex;
}

.logo {
  max-width: 100%;
  border-radius: 14px;
  box-shadow: 6px 6px 15px rgba(204, 140, 235, 0.27);
}
.brand {
  max-width: 100px;
}
.brand.logo {
  text-align: center;
  margin-bottom: 10px;
}

/*container and section design*/
.container {
  background-image: linear-gradient(
    214deg,
    #cc9ceb,
    #f57699 56%,
    #f3a07b 82%,
    #fff
  );
  border-radius: 14px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  display: flex;
  position: static;
  box-shadow: 6px 6px 15px rgba(204, 140, 235, 0.27);
}
.section {
  margin-top: 200px;
  margin-bottom: 200px;
  background-image: url("images/bg-image.png");
}
.quick-stack {
  color: #884324;
}

/*hero section*/

.w-layout-blockcontainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.w-layout-cell {
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
}
.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-content: center;
}
.w-layout-cell-1 {
  align-items: left;
}

.heading {
  color: #3b144e;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 70px;
}
.paragraph {
  max-width: 70%;
  color: #3b144e;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
}

h4 {
  font-size: 16px;
  font-family: "Libre Baskerville", serif;
  color: #8b213f;
  text-align: center;
  margin-bottom: 0;
}
/*skillset section design*/
.skillset {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.paragraph,
.DM,
.web,
.SEO {
  max-width: 100%;
  font-size: 14px;
  color: #3b144e;
  text-align: center;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
}
.col {
  align-items: center;
  justify-content: center;
}
h5 {
  font-family: "Libre Baskerville", serif;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
}

.heading-2 {
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
  color: #f57699;
  margin-bottom: 30px;
}

/*project section design*/
.heading-3 {
  font-size: 25px;
}
h3 {
  font-size: 1.3em;
}
.image {
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.image-2,
.image-3,
.image-4 {
  border-radius: 14px;
  width: 70%;
}
.section-2 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  display: grid;
  justify-content: center;
}
.heading-3 {
  color: #f3a07b;
  text-align: center;
  margin-bottom: 20px;
}
.heading-4 {
  color: #582074;
  text-align: center;
}
.heading-5 {
  color: #8b213f;
  text-align: center;
}
.heading-6 {
  color: #884324;
  text-align: center;
}
.project-cell {
  border-radius: 14px;
  display: flex;
  align-items: center;
}
.project-cell.project1 {
  color: #3b144e;
  background-image: linear-gradient(225deg, #cc8ceb, #fff);
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 6px 6px 15px rgba(204, 140, 235, 0.27);
}
.project-cell.project2 {
  color: #3b144e;
  background-image: linear-gradient(225deg, #f57699, #fff);
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 6px 6px 15px rgba(204, 140, 235, 0.27);
}
.project-cell.project3 {
  color: #3b144e;
  background-image: linear-gradient(225deg, #f3a07b, #fff);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  box-shadow: 6px 6px 15px rgba(204, 140, 235, 0.27);
}
.cell {
  align-items: flex-start;
}
.link {
  color: #582074;
  background-color: rgba(204, 140, 235, 0.43);
  border-radius: 14px;
  margin-top: 10px;
  padding: 2.5px 10px;
  text-decoration: none;
}
.link-2 {
  color: #8b213f;
  background-color: rgba(245, 118, 153, 0.36);
  border-radius: 14px;
  margin-top: 10px;
  padding: 2.5px 10px;
  text-decoration: none;
}
.link-3 {
  color: #884324;
  text-transform: none;
  background-color: rgba(243, 160, 123, 0.42);
  border-radius: 14px;
  margin-top: 10px;
  padding: 2.5px 10px;
  text-decoration: none;
}
.link:hover {
  color: #582074;
  background-color: #fff;
  box-shadow: 0 6px 12px 7px rgba(225, 183, 203, 0.63);
}
.link-2:hover {
  color: #8b213f;
  background-color: #fff;
  box-shadow: 0 6px 12px 7px rgba(225, 183, 203, 0.63);
}
.link-3:hover {
  color: #884324;
  background-color: #fff;
  box-shadow: 0 6px 12px 7px rgba(225, 183, 203, 0.63);
}

/*form design*/
.section-3 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.container-4 {
  box-shadow: 6px 6px 15px rgba(204, 140, 235, 0.27);
  border-radius: 14px;
  padding: 20px;
  max-width: 1200px;
}
.heading-7 {
  color: #a057c4;
  text-align: center;
}
.form {
  text-align: center;
  display: block;
  color: #582074;
}
.submit-button {
  background-color: #cc8ceb;
  color: #fff;
  border-radius: 14px;
  margin-bottom: 10px;
  font-size: 14px;
  margin-top: 20px;
  box-shadow: 0 15px 12px -4px rgba(255, 183, 203, 0.63);
  padding: 10px 20px;
  font-weight: 500;
  text-decoration: none;
  border: none;
}

.button:hover {
  color: #582074;
  background-color: #fff;
  box-shadow: 0 20px 12px 7px rgba(225, 183, 203, 0.63);
  cursor: pointer;
}
.textarea {
  border-radius: 14px;
}
.name,
.email,
.message {
  border-radius: 14px;
  color: #3b144e;
}

/*footer design*/

.footer-link {
  color: #3b144e;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-weight: 600;
}
.footer-link:hover {
  text-decoration: underline;
}

.footer-link-block {
  color: #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 40px;
}
.text-block {
  color: #3b144e;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.footerParagraph {
  text-align: center;
  max-width: 70%;
}
.container-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  align-content: center;
}

/*responsive design */

@media screen and (max-width: 991px) {
  .menu-button {
    margin-right: -18px;
  }
  .menu-button.w--open {
    background-color: #fffdfd;
  }
  .icon {
    color: #cc8ceb;
  }
  .nav-menu {
    background-color: #fffdfd;
  }
}
@media screen and (max-width: 767px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
  .heading {
    font-size: 40px;
  }
  .project-cell.project2,
  .project-cell.project3,
  .project-cell.project1 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .quick-stack {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    justify-content: center;
  }
  .heading-3,
  .heading-4,
  .heading-5,
  .paragraph-2,
  .paragraph-3,
  .paragraph-4 {
    text-align: center;
  }
  .row {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .heading {
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
  }
  .heading-2 {
    margin-bottom: 0;
    font-size: 23px;
  }
  h4 {
    font-size: 13px;
  }

  .quick-stack {
    grid-column-gap: 10px;
    padding-top: 10px;
    padding-right: 10px;
  }
}
